.btn{
	padding: 10px 30px;
	border-radius: 0;	
	border: 0;

	&--green {
		background-color: $color-green;
		color: $color-white;
		transition: all .3s ease-in-out;
		min-width: 150px;	

		&--arrow{
			padding-right: 75px;
			position: relative;
		}

		&:hover,
		&:focus {
			background-color: #82ab3c;
			color: $color-white;
		}
	}

}