/**
 * main.scss
 */
/* ==========================================================================
   Settings
   ========================================================================== */
/**
 * Variables.
 */
/**
 * settings/_main.scss
 */
/* ==========================================================================
   Imports
   ========================================================================== */
/* ==========================================================================
   Tools
   ========================================================================== */
/**
 * Functions, mixins etc.
 */
/**
 * tools/_main.scss
 */
/* ==========================================================================
   Imports
   ========================================================================== */
/* ==========================================================================
   Generic
   ========================================================================== */
/**
 * Low-specificity, far-reaching rulesets.
 */
/**
 * generic/_main.scss
 */
/* ==========================================================================
   Imports
   ========================================================================== */
html {
  height: 100%; }

body {
  color: #000;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 16px;
  position: relative;
  min-height: 100%;
  color: #4A4A4A;
  line-height: 30px; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * Unclassed HTML elements.
 */
/**
 * base/_main.scss
 */
/* ==========================================================================
   Imports
   ========================================================================== */
/* ==========================================================================
   Objects
   ========================================================================== */
/**
 * Design-free objects, abstractions and patterns.
 */
/**
 * objects/_main.scss
 */
/* ==========================================================================
   Imports
   ========================================================================== */
/* Extends
   ========================================================================== */
/* Main
   ========================================================================== */
.btn {
  padding: 10px 30px;
  border-radius: 0;
  border: 0; }
  .btn--green {
    background-color: #92CB32;
    color: #fff;
    transition: all .3s ease-in-out;
    min-width: 150px; }
    .btn--green--arrow {
      padding-right: 75px;
      position: relative; }
    .btn--green:hover, .btn--green:focus {
      background-color: #82ab3c;
      color: #fff; }

.text--gray {
  color: #4A4A4A; }

.icon--green {
  color: #92CB32; }

/* ==========================================================================
   Vendor
   ========================================================================== */
/**
 * Third party components.
 */
/**
 * vendor/_main.scss
 */
/* ==========================================================================
   Imports
   ========================================================================== */
/* ==========================================================================
   Components
   ========================================================================== */
/**
 * Components and widgets.
 */
/**
 * components/_main.scss
 */
/* ==========================================================================
   Imports
   ========================================================================== */
h1 {
  font-size: 60px;
  margin-top: 0;
  font-weight: 700; }

h2 {
  font-size: 40px;
  margin-top: 0;
  font-weight: 700; }

h3 {
  font-size: 30px;
  margin-top: 0;
  font-weight: 700; }

h4 {
  font-size: 20px;
  margin-top: 0;
  font-weight: 700; }

p, a, li, span {
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5; }

a {
  color: #fff; }

.header-nav {
  height: 100px;
  padding: 15px 0; }
  .header-nav__container {
    text-align: right; }
  .header-nav__menu {
    list-style: none;
    margin-bottom: 0; }
    .header-nav__menu__item {
      display: inline-block;
      margin-left: 15px;
      font-size: 14px; }
      .header-nav__menu__item a {
        color: #4A4A4A; }
  .header-nav__arabic {
    margin-bottom: 15px; }
  .header-nav__open-menu {
    position: absolute;
    top: 15px;
    right: 60px;
    height: 65px; }
    .header-nav__open-menu .menu-icon {
      width: 35px;
      height: 3px;
      background-color: #000;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      .header-nav__open-menu .menu-icon:before {
        top: -12px;
        content: "";
        position: absolute;
        width: 35px;
        height: 3px;
        background-color: #000;
        display: block;
        top: -14px; }
      .header-nav__open-menu .menu-icon:after {
        top: 12px;
        content: "";
        position: absolute;
        width: 35px;
        height: 3px;
        background-color: #000;
        display: block;
        top: 14px; }
    .header-nav__open-menu .menu-icon.closed {
      transition: transform 3s;
      background-color: #fff; }
      .header-nav__open-menu .menu-icon.closed:after {
        top: -14px;
        left: 20px;
        transform: rotate(135deg);
        transform-origin: 20% 40%;
        width: 50px; }
      .header-nav__open-menu .menu-icon.closed:before {
        top: -14px;
        transform: skew(180deg);
        transform: rotate(45deg);
        transform-origin: 20% 40%;
        width: 50px; }

.announcement {
  background-color: #515D6C;
  height: 60px;
  color: #fff;
  padding: 15px 0;
  transition: all .3s ease-in-out; }
  .announcement__button {
    margin-top: -5px;
    text-align: center; }
  .announcement__text {
    font-size: 19px;
    text-align: center; }
    .announcement__text span {
      font-size: 19px; }

.slider {
  position: relative;
  height: auto;
  padding: 120px 0;
  color: #fff; }
  .slider__bg {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1; }
  .slider__title {
    margin: 20px 0; }
  .slider__tabs {
    margin-top: 150px; }
    .slider__tabs__content {
      padding-top: 50px;
      border-top: 2px solid #979797; }
      .slider__tabs__content--active {
        border-top: 2px solid #fff; }
    .slider__tabs__sequence {
      position: relative;
      display: inline-block;
      top: -9px; }
    .slider__tabs__bg {
      transform-origin: 50% 50%;
      overflow: hidden;
      width: 30px;
      height: 30px;
      border: 1px solid #fff;
      position: absolute;
      transform: rotate(-45deg);
      cursor: pointer;
      top: 0;
      left: 0; }
      .slider__tabs__bg:hover {
        background-color: #fff;
        color: #4A4A4A;
        text-decoration: none;
        transition: all .3s ease-in-out; }
        .slider__tabs__bg:hover .slider__tabs__number {
          color: black; }
    .slider__tabs__number {
      margin-left: 11px;
      line-height: 30px;
      font-size: 12px; }
    .slider__tabs__text {
      margin-left: 20px;
      display: inline-block; }
      .slider__tabs__text__title {
        font-size: 14px;
        margin: 0; }
      .slider__tabs__text__subtitle {
        font-size: 12px; }

.search {
  position: absolute;
  bottom: -30px;
  width: 100%; }
  .search__form {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 2px -2px #cacaca;
    min-height: 60px;
    height: auto; }
    .search__form select, .search__form button {
      height: 60px;
      width: 100%;
      border-radius: 0; }
    .search__form select {
      border-radius: 0;
      -webkit-appearance: none;
      background-repeat: no-repeat;
      background-position: right 15px center;
      background-image: url(images/arrow-down.png); }

.col-padding-0 {
  padding: 0 !important; }

.section {
  padding: 60px 0; }
  .section__header {
    margin-bottom: 45px;
    color: #4A4A4A;
    font-size: 20px; }

.location {
  margin-top: 70px; }
  .location__wrapper {
    margin: 15px 0; }
  .location__image {
    width: 100%;
    max-height: 260px; }
  .location__text {
    padding: 15px;
    border: 2px solid #D1D3D5;
    max-height: 100px;
    min-height: 100px; }
    .location__text__title {
      font-size: 14px; }
    .location__text__subtitle {
      font-size: 12px; }

.film .video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #fff;
  transition: color .3s; }

.film__title {
  font-size: 36px; }

.film__description {
  font-size: 14px; }

.film .section__header {
  margin-top: 45px; }

.film__thumbnail {
  width: 100%; }

.modal--video .modal__close {
  position: absolute;
  top: -10px;
  right: -30px;
  color: #fff;
  font-size: 30px;
  line-height: 30px; }

.modal--video .modal-body {
  padding: 0; }

.travel {
  border-top: 2px solid #4A4A4A; }
  .travel__container {
    padding: 30px;
    min-height: 300px;
    max-height: 300px; }
  .travel__box {
    width: 100px;
    height: 100px;
    background-color: #cacaca;
    margin: 0 auto; }
  .travel__title {
    font-size: 16px;
    margin: 10px 0; }
  .travel__text {
    font-size: 14px; }

.production__title {
  font-size: 36px;
  margin: 30px 0 45px; }

.production__description {
  font-size: 14px; }

.production__slider__arrow {
  height: 52px;
  width: 52px;
  position: absolute;
  top: 50%;
  cursor: pointer; }
  .production__slider__arrow--left {
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    margin-left: -10px; }
  .production__slider__arrow--right {
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    margin-right: 10px; }

.production__slider__item {
  height: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  min-height: 434px;
  position: relative;
  width: 33.33333%;
  margin-right: -15px;
  background-size: cover; }
  .production__slider__item__name {
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: calc(434px - 60px);
    left: 0px;
    padding: 0 15px;
    width: auto;
    z-index: 2; }

.gallery__image {
  width: 100%;
  height: auto; }

.cash-rebate {
  min-height: 480px;
  background-color: #9B9B9B;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .cash-rebate__content {
    color: #fff; }
  .cash-rebate__header {
    font-size: 70px;
    margin-bottom: 45px; }
  .cash-rebate__subheader {
    font-size: 26px;
    line-height: 30px; }
  .cash-rebate table {
    margin-top: 50px; }
  .cash-rebate table tbody td {
    border-top: none;
    font-size: 19px; }
    .cash-rebate table tbody td .fa {
      font-size: 30px; }
  .cash-rebate__btn {
    margin-top: 50px; }

.site-footer {
  background-color: #000;
  color: #E3E4E5;
  position: relative;
  padding: 60px 0 15px;
  color: #E3E4E5 !important; }
  .site-footer__top__menu {
    margin-bottom: 30px; }
    .site-footer__top__menu__header {
      font-size: 16px;
      line-height: 18px; }
    .site-footer__top__menu__item li {
      margin-bottom: 5px; }
      .site-footer__top__menu__item li a {
        font-size: 12px; }
  .site-footer__top .btn {
    width: 100%; }
  .site-footer__top .form-control {
    margin: 5px 0; }
  .site-footer__top input[type=checkbox] {
    margin: 8px 15px 0 -20px; }
  .site-footer__bottom__menu__item {
    margin-right: 15px; }
    .site-footer__bottom__menu__item a {
      font-size: 12px; }
  .site-footer__bottom__social, .site-footer__bottom__lang {
    text-align: right; }
    .site-footer__bottom__social__item, .site-footer__bottom__lang__item {
      font-size: 12px; }
  .site-footer__bottom__social {
    margin-bottom: 0; }
  .site-footer__bottom__lang {
    line-height: 18px; }
  .site-footer__bottom__copyright {
    line-height: 12px;
    font-size: 10px; }

.form-control {
  border-radius: 0; }

/* ==========================================================================
   Trumps
   ========================================================================== */
/**
 * Helper classes and overrides.
 */
/**
 * trumps/_main.scss
 */
/* ==========================================================================
   Imports
   ========================================================================== */
@media (max-width: 1024px) and (min-width: 768px) and (orientation: landscape) {
  html,
  body {
    -webkit-overflow-scrolling: touch; }
  .slider {
    height: calc(100vh - 200px);
    padding: 30px 0; }
  .site-footer {
    padding: 30px 0 15px; } }

@media (max-width: 1023px) and (min-width: 768px) and (orientation: portrait) {
  html,
  body {
    -webkit-overflow-scrolling: touch; }
  .header-nav__arabic {
    display: none; }
  .header-nav__menu-wrapper {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 0 20px;
    transform: translateX(-100%);
    transition: all .3s ease-in-out; }
  .header-nav__menu {
    padding-left: 0; }
    .header-nav__menu__item {
      display: block;
      text-align: left;
      margin-left: 5px;
      margin-top: 30px; }
      .header-nav__menu__item a {
        font-size: 21px; }
  .header-nav__menu-wrapper.opened {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 0 20px;
    transform: translateX(0);
    z-index: 2; }
  .announcement__button {
    text-align: right;
    float: right; }
  .announcement__text {
    text-align: left; }
  .announcement span {
    display: none; }
  .announcement.opened {
    position: fixed;
    transition: all .3s ease-in-out;
    padding: 30px 0;
    bottom: 0px;
    left: 0;
    width: 100%;
    z-index: 3;
    height: auto; }
    .announcement.opened .btn {
      width: 100%; }
    .announcement.opened span {
      display: inline-block; }
    .announcement.opened .announcement .container {
      margin: 0; }
    .announcement.opened .announcement__wrapper {
      width: 100%; }
    .announcement.opened .announcement__button {
      text-align: center;
      float: none; }
    .announcement.opened .announcement__text {
      text-align: center;
      margin-bottom: 15px; }
  .slider {
    height: calc(100vh - 200px); }
    .slider__tabs__text {
      margin-left: -15px; }
  .site-footer {
    padding: 30px 0; }
    .site-footer__top__menu__item {
      display: none; }
    .site-footer__top__menu--newsletter {
      padding: 30px 0;
      margin: 30px 15px;
      border-top: 1px solid white;
      border-bottom: 1px solid white; }
    .site-footer__top .btn {
      width: auto; }
    .site-footer__bottom__social {
      display: inline-block;
      text-align: left; }
    .site-footer__bottom__lang {
      display: inline-block;
      text-align: right;
      float: right; }
    .site-footer__logo-wrapper {
      position: absolute;
      right: 15px;
      top: 30px; } }

@media (max-width: 767px) and (min-width: 320px) and (orientation: landscape) {
  html,
  body {
    -webkit-overflow-scrolling: touch; }
  .header-nav__arabic {
    display: none; }
  .header-nav__menu-wrapper {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 0 20px;
    transform: translateX(-100%);
    transition: all .3s ease-in-out; }
  .header-nav__menu {
    padding-left: 0; }
    .header-nav__menu__item {
      display: block;
      text-align: left;
      margin-left: 0px;
      margin-top: 0px; }
      .header-nav__menu__item a {
        font-size: 21px; }
  .header-nav__menu-wrapper.opened {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 0 20px;
    transform: translateX(0);
    z-index: 2; }
  .announcement__button {
    text-align: right;
    float: right; }
  .announcement__text {
    text-align: left; }
  .announcement span {
    display: none; }
  .announcement.opened {
    position: fixed;
    transition: all .3s ease-in-out;
    padding: 15px 0;
    bottom: 0px;
    left: 0;
    width: 100%;
    z-index: 3;
    height: auto; }
    .announcement.opened .btn {
      width: 100%; }
    .announcement.opened span {
      display: inline;
      font-size: 14px; }
    .announcement.opened .announcement .container {
      margin: 0; }
    .announcement.opened .announcement__wrapper {
      width: 100%; }
    .announcement.opened .announcement__button {
      text-align: center;
      float: none; }
    .announcement.opened .announcement__text {
      text-align: center;
      margin-bottom: 15px;
      font-size: 14px; }
  .slider {
    padding: 15px 0; } }

@media (max-width: 767px) and (orientation: portrait) {
  html,
  body {
    -webkit-overflow-scrolling: touch; }
  .header-nav__arabic {
    display: none; }
  .header-nav__menu-wrapper {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 0 20px;
    transform: translateX(-100%);
    transition: all .3s ease-in-out; }
  .header-nav__menu {
    padding-left: 0; }
    .header-nav__menu__item {
      display: block;
      text-align: left;
      margin-left: 5px;
      margin-top: 30px; }
      .header-nav__menu__item a {
        font-size: 21px; }
  .header-nav__menu-wrapper.opened {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 0 20px;
    transform: translateX(0);
    z-index: 2; }
  .announcement__button {
    text-align: right;
    float: right; }
  .announcement__text {
    text-align: left;
    display: inline-block;
    font-size: 16px; }
  .announcement span {
    display: none; }
  .announcement.opened {
    position: fixed;
    transition: all .3s ease-in-out;
    padding: 30px 0;
    bottom: 0px;
    left: 0;
    width: 100%;
    z-index: 3;
    height: auto; }
    .announcement.opened .btn {
      width: 100%; }
    .announcement.opened span {
      display: inline; }
    .announcement.opened .announcement .container {
      margin: 0; }
    .announcement.opened .announcement__wrapper {
      width: 100%; }
    .announcement.opened .announcement__button {
      text-align: center;
      float: none; }
    .announcement.opened .announcement__text {
      text-align: center;
      margin-bottom: 15px;
      font-size: 18px; }
      .announcement.opened .announcement__text span {
        font-size: 18px; }
  .slider {
    padding: 45px 0;
    height: 45vh; }
    .slider__title {
      font-size: 35px;
      margin: 15px 0; }
    .slider__tabs {
      margin-top: 45px;
      margin-bottom: 75px; }
      .slider__tabs__text, .slider__tabs .diamond {
        display: none; }
      .slider__tabs__content {
        padding: 0; }
  .search {
    position: relative;
    margin-top: -75px; }
  .location {
    margin-top: 200px; }
  .travel__container {
    padding: 0; }
  .section {
    padding: 30px 0; }
  .gallery__image {
    margin: 15px 0; }
  .site-footer__logo-wrapper {
    position: absolute;
    right: 15px;
    top: 30px; }
  .site-footer__top .btn {
    width: auto; }
  .site-footer__top__menu {
    margin-bottom: 15px; }
    .site-footer__top__menu__item li {
      display: none; }
    .site-footer__top__menu--newsletter h3 {
      padding-top: 30px;
      margin-top: 30px;
      border-top: 1px solid #fff; }
  .site-footer__bottom__social {
    display: inline-block;
    text-align: left; }
  .site-footer__bottom__lang {
    display: inline-block;
    text-align: right;
    float: right; }
  .site-footer__bottom .list-inline {
    margin-left: 0;
    text-align: center; }
    .site-footer__bottom .list-inline li {
      padding-left: 0; }
  .site-footer__bottom__menu {
    border-top: 1px solid #fff;
    padding-top: 15px;
    margin-top: 15px; }
  .site-footer__bottom__copyright {
    text-align: center; } }
