.announcement{
	background-color: $color-blue;
	height: 60px;
	color: $color-white;
	padding: 15px 0;
	transition: all .3s ease-in-out;

	// &__text{
	// 	display: inline-block;
	// }
	&__button{		
		margin-top: -5px;
		text-align: center;
	}
	&__text{
		font-size: 19px;
		text-align: center;
		span{
			font-size: 19px;
		}
	}

}