.cash-rebate{	
	min-height: 480px;	
	background: {
		color: #9B9B9B;
		repeat: no-repeat;
		size: cover;
	}
	position: relative;
	&__content{
		color: $color-white;
	}
	&__header{
		font-size: 70px;
		margin-bottom: 45px;
	}
	&__subheader{
		font-size: 26px;	
		line-height: 30px;	
	}

	// &__checklist{
	// 	list-style: none;
	// 	padding-left: 0;
	// 	li{
	// 		padding-top: 30px;
	// 		.fa{
	// 			vertical-align: top;
	// 			    margin-top: 5px;
	// 			    font-size: 30px;
	// 			    color: $color-green;
	// 		}
	// 		p{
	// 			font-size: 19px;
	// 			line-height: 30px;
	// 			display: inline-block;
	// 			margin-left: 20px;
	// 		}
	// 	}
	// }
	table{
		margin-top: 50px;
	}
	table tbody td{
		border-top: none;
		font-size: 19px;

		.fa{
			 font-size: 30px;
		}
	}

	&__btn{
		margin-top: 50px;
	}
}