.film{
	.video-play{
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    font-size: 80px;
	    color: #fff;
	    transition: color .3s;
	}

	&__title{		
		font-size: 36px;		
	}
	&__description{
		font-size: 14px;
	}
	.section__header{
		margin-top: 45px;
	}
	&__thumbnail{
		width: 100%;
	}

	
}