.site-footer{
	background-color: $color-black;
	color: #E3E4E5;
	position: relative;
	padding: 60px 0 15px;
	color: #E3E4E5 !important;
	
	&__top{	

		&__menu{
			
			margin-bottom: 30px;
			&__header{
				font-size: 16px;
				line-height: 18px;
			}
			&__item{
				li{					
					margin-bottom: 5px;
					a{
						font-size: 12px;
					}
				}
			}
			
		}
		.btn{
			width: 100%;
		}
		.form-control{
			margin: 5px 0;
		}

		input[type=checkbox] {
		    margin: 8px 15px 0 -20px;

		}
	}

	&__bottom{

		&__menu{
			&__item{
				margin-right: 15px;
				a{
					font-size: 12px;
				}
			}
		}

		&__social, &__lang{
			text-align: right;	
			&__item{
				font-size: 12px;
			}
		}
		&__social{
			margin-bottom: 0;
		}
		&__lang{
			line-height: 18px;
		}

		&__copyright{
			line-height: 12px;
			font-size: 10px;
		}
	}
}