.header-nav{
	height: 100px;
	padding: 15px 0;

	&__container{
		text-align:right;
	}

	&__menu{
		list-style: none;
		margin-bottom: 0;
		&__item{
			display: inline-block;
			margin-left: 15px;
			font-size: 14px;
			a{
				color: $color-gray;
			}
		}
	}
	&__arabic{		
		margin-bottom: 15px;
	}

	&__open-menu {
	    position: absolute;
	    top: 15px;
	    right: 60px;
	    height: 65px;
	    .menu-icon{

	    	width: 35px;
	    	height: 3px;
    	    background-color: $color-black;
    	    display: block;
    	    position: absolute;
    	    top: 50%;
    	    transform: translateY(-50%);

    	    &:before {
			   
			    top: -12px;
			    content: "";
		        position: absolute;
		        width: 35px;
		        height: 3px;
		        background-color: $color-black;
		        display: block;
		        top: -14px;
			}

			&:after {
			   
			    top: 12px;
			    content: "";
			    position: absolute;
			    width: 35px;
			    height: 3px;
			    background-color: $color-black;
			    display: block;
			    top: 14px;
			}
	    }
	    .menu-icon.closed{
	    	transition: transform 3s;
	    	background-color: $color-white;
	    	&:after{
	    		top: -14px;
	    		left: 20px;
	    		transform: rotate(135deg);
	    		transform-origin: 20% 40%;
	    		width: 50px;
	    	}
	    	&:before{
	    		top: -14px;
	    		transform: skew(180deg);
	    		transform: rotate(45deg);
	    		transform-origin: 20% 40%;
	    		width: 50px;
	    	}
	    }
	}
}