.location{
	margin-top: 70px; 
	&__wrapper{
		margin: 15px 0;
	}
	&__image{
		width: 100%;
		max-height: 260px;
	}
	&__text{
		padding: 15px;
		border: 2px solid #D1D3D5;
		max-height: 100px;
		min-height: 100px;

		&__title{
			font-size: 14px;
		}
		&__subtitle{
			font-size: 12px;
		}
	}
}