.modal{
	&--video{
		.modal__close{
			position: absolute;
		    top: -10px;
		    right: -30px;
		    color: #fff;
		    font-size: 30px;
		    line-height: 30px;
		}

		.modal-body{
			padding: 0;
		}
	}
}