.production{
	&__title{
		font-size: 36px;
		margin: 30px 0 45px;
	}
	&__description{		
		font-size: 14px;		
	}

	&__slider{

		&__arrow{			
			height: 52px;
			width: 52px;
			position: absolute;
			top: 50%;
			cursor: pointer;
			&--left{				
				left: 0%;
				transform: translate(0%,-50%);
				-ms-transform: translate(-0%,-50%);
				margin-left: -10px;
			}
			&--right{				
			    right: 0%;
			    transform: translate(0%,-50%);
			    -ms-transform: translate(0%,-50%);
			    margin-right: 10px;
			}
		}

		&__item{			
			height: 100%;
			background-repeat: no-repeat;
			display: inline-block;
			min-height: 434px;
			position: relative;
			    width: 33.33333%;
			margin-right: -15px;
			background-size: cover;

			// &__bg{				
			// 	position: absolute;
			// 	bottom: 0;
			// 	left: 0;				
			// 	width: 100%;
			// 	//background-color: rgba(0,0,0, 0.4);
			// 	filter: blur(20px);
			// 	padding: 45px;/* Rectangle 15: */
			// 	opacity: 0.7;
			// 	background: #1E1E1E;
			// 	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50), inset 0 1px 3px 0 rgba(0,0,0,0.50);
			// }
			&__name{
				color: $color-white;
				font-size: 14px;
				position: absolute;
				top: calc(434px - 60px);
				left: 0px;		
				padding:0 15px;		
				width: auto;
				z-index: 2;
			}
		}
	}
}