.slider{
	position: relative;	
	height: auto;
	padding: 120px 0;
	color: $color-white;
	&__bg{
		background-repeat: no-repeat;
		background-size: 100% 100%;		
		position: absolute;
		top:0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -1;

	}
	&__title{
		margin: 20px 0;

	}

	&__tabs{
		margin-top: 150px;

		&__content{
			padding-top: 50px;
			border-top: 2px solid lighten($color-gray, 30);

			&--active{
				border-top: 2px solid $color-white;
			}
		}

		&__sequence{
			position: relative;
			display: inline-block;
			top: -9px;
		}
		&__bg{
			transform-origin: 50% 50%;
			overflow: hidden;
			width: 30px;
			height: 30px;
			border: 1px solid $color-white;
			position: absolute;
			transform: rotate(-45deg);
			cursor: pointer;
			top: 0;
			left: 0;
			&:hover{
				background-color: $color-white;
				color: $color-gray;
				text-decoration:none;
				transition: all .3s ease-in-out;

				.slider__tabs__number{
				color: black;
				}
			}
			
		}
		&__number{			
			margin-left: 11px;
		    line-height: 30px;
		    font-size: 12px;
		}
		&__text{
			margin-left: 20px;
			display: inline-block;
			&__title{
				font-size: 14px;
				margin:0;
			}
			&__subtitle{
				font-size: 12px;
			}
		}
	}
}

.search{
	position: absolute;
	bottom: -30px;	
	width: 100%;
	

	&__form{
		width: 100%;
		background-color: $color-white;
		box-shadow: 0 5px 2px -2px lighten($color-gray, 50);
		min-height: 60px;
		height: auto;
		select, button{
			height: 60px;
			width: 100%;
			border-radius: 0;
		}
		select{
			border-radius: 0;
			-webkit-appearance: none;		
			background:{
				repeat: no-repeat;
				position: right 15px center;
				image: url(images/arrow-down.png);
			}
		}
	}
}