.travel{
	border-top: 2px solid $color-gray;

	&__container{
		padding: 30px;
		min-height: 300px;
		max-height: 300px;
	}
	&__box{
		width: 100px;
		height: 100px;
		background-color: lighten($color-gray, 50);
		margin: 0 auto;
	}

	&__title{
		font-size: 16px;
		margin: 10px 0;
	}
	&__text{
		font-size: 14px;
	}
}