h1 {
	font-size: 60px;
	margin-top: 0;
	font-weight: 700;
}

h2 {
	font-size: 40px;
	margin-top: 0;
	font-weight: 700;
}

h3 {
	font-size: 30px;
	margin-top: 0;
	font-weight: 700;
}

h4 {
	font-size: 20px;
	margin-top: 0;
	font-weight: 700;
}

p, a, li, span {
	font-size: 16px;
	font-weight: 100;
	line-height: 1.5;	
}
a{
	color: $color-white;	
}