@media(max-width: 767px) and (min-width: 320px) and (orientation:landscape) {
	html, 
	body{
		-webkit-overflow-scrolling: touch;
		
	}
	.header-nav{

		&__arabic{
			display: none;
		}
		&__menu-wrapper {
			position: fixed;
			top: 100px;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $color-white;
			padding: 0 20px;
			transform: translateX(-100%);
			transition: all .3s ease-in-out;
		}

		&__menu{
			padding-left: 0;
			&__item{
				display: block;
				text-align: left;
				margin-left: 0px;
				margin-top: 0px;
				a{
					font-size: 21px;
				}
			}
		}
	}

	.header-nav__menu-wrapper.opened {
	    position: fixed;
	    top: 100px;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: #fff;
	    padding: 0 20px;
	    transform: translateX(0);
	    z-index: 2;
	}
	.announcement{
		&__button{					
			text-align: right;
			float: right;
		}
		&__text{			
			text-align: left;
		}
		span{
			display: none;
		}
	}
	.announcement.opened{
		position: fixed;
		transition: all .3s ease-in-out;
		padding: 15px 0;
		bottom: 0px;
		left: 0;
		width: 100%;
		z-index: 3;
		height: auto;
		.btn{
			width: 100%;
		}
		span{
			display: inline;
			font-size: 14px;
		}
		.announcement{
			.container{
				margin:0;

			}
			&__wrapper{
			width: 100%;
			}
			&__button{					
				text-align: center;
				float: none;
			}
			&__text{			
				text-align: center;
				margin-bottom: 15px;
				font-size:14px;
			}
			
		}
		
	}

	.slider{
		padding: 15px 0;
	}

	
}