@media (max-width:767px) and (orientation:portrait) {
	html, 
	body{
		-webkit-overflow-scrolling: touch;	
		
	}

	body {
		//padding-top: 100px;
		//padding-bottom: 0;
	}

	.header-nav{

		&__arabic{
			display: none;
		}
		&__menu-wrapper {
			position: fixed;
			top: 100px;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $color-white;
			padding: 0 20px;
			transform: translateX(-100%);
			transition: all .3s ease-in-out;
		}

		&__menu{
			padding-left: 0;
			&__item{
				display: block;
				text-align: left;
				margin-left: 5px;
				margin-top: 30px;
				a{
					font-size: 21px;
				}
			}
		}
	}

	.header-nav__menu-wrapper.opened {
	    position: fixed;
	    top: 100px;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: #fff;
	    padding: 0 20px;
	    transform: translateX(0);
	    z-index: 2;
	}

	.announcement{
		&__button{					
			text-align: right;
			float: right;
		}
		&__text{			
			text-align: left;
			display: inline-block;
			font-size: 16px;
		}
		span{
			display: none;
		}
	}
	.announcement.opened{
		position: fixed;
		transition: all .3s ease-in-out;
		padding: 30px 0;
		bottom: 0px;
		left: 0;
		width: 100%;
		z-index: 3;
		height: auto;
		.btn{
			width: 100%;
		}
		span{
			display: inline;
		}
		.announcement{
			.container{
				margin:0;

			}
			&__wrapper{
			width: 100%;
			}
			&__button{					
				text-align: center;
				float: none;
			}
			&__text{			
				text-align: center;
				margin-bottom: 15px;
				font-size: 18px;
				span{
					font-size: 18px;
				}
			}

			
		}
		
	}

	.slider{
		padding: 45px 0;
		height: 45vh;
		&__title{
			font-size: 35px;
			margin: 15px 0;
		}
		&__tabs{
			margin-top: 45px;
			margin-bottom: 75px;
			&__text, .diamond{
				display: none;
			}
			&__content{
				padding: 0;
			}			
		}
	}
	.search{
		position: relative;
		margin-top: -75px;
	}

	.location{
		margin-top: 200px;
	}

	.travel{
		&__container{
			padding:0;
		}
	}

	.section{
		padding: 30px 0;
	}

	.gallery{
		&__image{
			margin: 15px 0;
		}
	}

	.site-footer{
		&__logo-wrapper{
			position: absolute;
			right: 15px;
			top: 30px;

		}
		&__top{

			.btn{
				width: auto;
			}
			&__menu{
				margin-bottom: 15px;
				&__item{
					li{
						display: none;
					}
				}
				&--newsletter h3{
					padding-top: 30px;
					margin-top: 30px;
					border-top: 1px solid $color-white;
				}
			}
		}

		&__bottom{
			&__social{
				display: inline-block;
				text-align: left;
			}
			&__lang{
				display: inline-block;
				text-align: right;
				float: right;
			}

			.list-inline{
				margin-left:0;
				text-align: center;
				li{
					padding-left:0;					
				}
			}
			&__menu{
				border-top: 1px solid $color-white;
				padding-top: 15px;
				margin-top: 15px;
			}

			&__copyright{
				text-align: center;
			}
		}
	}
}