@media(max-width: 1024px) and (min-width: 768px) and (orientation:landscape) {
	html, 
	body{
		-webkit-overflow-scrolling: touch;
		
	}

	.slider{
		height: calc(100vh - 200px);
		padding: 30px 0;
	}

	.site-footer{
		padding: 30px 0 15px;
	}
	
}