@media (max-width:1023px) and (min-width:768px) and (orientation:portrait) {
	html, 
	body{
		-webkit-overflow-scrolling: touch;
	}

	.header-nav{

		&__arabic{
			display: none;
		}
		&__menu-wrapper {
			position: fixed;
			top: 100px;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $color-white;
			padding: 0 20px;
			transform: translateX(-100%);
			transition: all .3s ease-in-out;
		}

		&__menu{
			padding-left: 0;
			&__item{
				display: block;
				text-align: left;
				margin-left: 5px;
				margin-top: 30px;
				a{
					font-size: 21px;
				}
			}
		}
	}

	.header-nav__menu-wrapper.opened {
	    position: fixed;
	    top: 100px;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: #fff;
	    padding: 0 20px;
	    transform: translateX(0);
	    z-index: 2;
	}
	.announcement{
		&__button{					
			text-align: right;
			float: right;
		}
		&__text{			
			text-align: left;
		}
		span{
			display: none;
		}
	}
	.announcement.opened{
		position: fixed;
		transition: all .3s ease-in-out;
		padding: 30px 0;
		bottom: 0px;
		left: 0;
		width: 100%;
		z-index: 3;
		height: auto;
		.btn{
			width: 100%;
		}
		span{
			display: inline-block;
		}
		.announcement{
			.container{
				margin:0;

			}
			&__wrapper{
			width: 100%;
			}
			&__button{					
				text-align: center;
				float: none;
			}
			&__text{			
				text-align: center;
				margin-bottom: 15px;
			}
			
		}
		
	}

	.slider{
		height: calc(100vh - 200px);
		&__tabs{
			&__text{
				margin-left: -15px;
			}
		}
	}

	.site-footer{
		padding: 30px 0;
		&__top{
			&__menu{
				&__item{
					display: none;
				}
				&--newsletter{
					padding: 30px 0;
					margin: 30px 15px;
					border-top: 1px solid white;
					border-bottom: 1px solid white;
				}
			}

			.btn{
				width: auto;
			}
		}

		&__bottom{
			&__social{
				display: inline-block;
				text-align: left;
			}
			&__lang{
				display: inline-block;
				text-align: right;
				float: right;
			}
		}
		&__logo-wrapper{
			position: absolute;
			right: 15px;
			top: 30px;

		}
	}




}